:root {
    --b-1: #050505;
    --b-2: #1f1f1f;
    --b-3: #2d2d2d;
    --b-4: #3a3a3a;
    --gray-1: #757575;
    --gray-2: #e9e9e9;
    --gray-3: #f4f4f4;
    --white: #fff;
    --purple: #a445ED;
    --accent: #FF5252;
}