.d-flex {
    display: flex;
}

$justify-content: (
    "sb": space-between,
    "c": center
);

@each $key, $v in $justify-content {
    .jc-#{$key} {
        justify-content: $v;
    }
}

$align-items: (
    "c": center
);

@each $key, $v in $align-items {
    .ai-#{$key} {
        align-items: $v;
    }
}